{% extends "main_templates/main.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <div class="mt-5">
            <form method="POST">
                {%csrf_token%}
                <fieldset class='form-group'>
                    <legend class='border-bottom mb-4 text-danger'>Change your password</legend>
                    {{pass|crispy}}
                </fieldset>
                <div class='form-group'>
                    <button class='btn btn-primary' type="submit">Change password</button>
                </div>
            </form>
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class='form-group'>
                    <legend class='border-bottom mb-4 text-danger'>Change your Avatar</legend>
                    {{avatar|crispy}}
                </fieldset>
                <div class='form-group'>
                    <button class='btn btn-primary' type="submit">Change Avatar</button>
                </div>
            </form>
        </div>
    </div>
  </main>    
{% endblock %}