  
{% extends "main_templates/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="mt-5">
            <div class="media-body mt-3">
                    <h2 class="account-heading">User: {{user.username}}</h2>
                    <p class="text-secondary">Email: {{user.email}}</p>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <div class='form-group'>
                    <button class='btn btn-outline-info' type="submit">Update</button>
                </div>
             </form>
    </div>
</div>
{% endblock %}