  
{% extends "main_templates/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="profile-content">
        <div class="mt-5">
            <nav>
                <ul class="profile_nav">
                    <a onclick="res()"><li>Reservations</li></a>
                    <a href="#"><li>option</li></a>
                    <a href="#"><li>option</li></a>
                </ul>
            </nav>
            <div class="media-body mt-3">
                <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}">
                <h2 class="account-heading" style="color: red; margin-left: 20px;">Hello, <strong>{{request.user.username}}</strong></h2>
            </div>
            <div class="profile_info">
                <ul>
                    <li>Name:<strong>{{user_info.first_name}}</strong></li>
                    <li>Last Name:<strong>{{user_info.last_name}}</strong></li>
                    <li>Email:<strong>{{user_info.email}}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
</script>
{% endblock %}