{% extends "main_templates/main.html" %}
{% load crispy_forms_tags %}
{% load json_tags %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'reservation.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<div class="container">
    <div class="profile-content">
        <div class="mt-5">
            <div class="media-body mt-3">
                <h2 class="account-heading" onclick="show()" style="color: red; margin-left: 20px; margin-bottom: 15px;"><strong>{{movie}}</strong></h2>
            </div>
            <section class="display_content">
                <div class="table-responsive">          
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Hour</th>
                          <th>Seats</th>
                          <th>Time left</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for key,value in reserved.items %}
                            {% for time in value.times|dictsort:1 %}
                                <tr class="main_data">
                                    <td>{{key}}</td>
                                    <td>{{time}}</td>
                                    <td>0</td>
                                    <td>null</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>
                    <div class="seats_displayer">
                        <ul>
                        </ul>
                    </div>
            </section>
        </div>
    </div>
</div>
<script>
const reserved = {{reserved_json|safe}}

function json_reader(json){
    const key = Object.keys(json)
    const value = Object.values(json)
    var json_return = {}
    json_return["key"] = key
    json_return["value"] = value
    return json_return
    }

function display_seats(seats){
    const all_seats = seats.getAttribute("value")
    const all_seats_splited = all_seats.split(",")
    const seats_displayer = document.querySelector(".seats_displayer ul")
    seats_displayer.innerHTML = "";
    for(x=0; x<all_seats_splited.length;x++){
        const seat = all_seats_splited[x]
        seats_displayer.innerHTML += "<li>"+seat+"</li>"
    }
    seats_displayer.style["visibility"] = "visible";
}

const json_content = json_reader(reserved)
const rows = document.querySelectorAll(".display_content table tr.main_data")
for(let row of rows){
    new Vue({
    delimiters: ['[[', ']]'],
    el:row,
    data: { 
        seats_number: "0",
        date: "",
        hour: "",
    },
    methods:{
        get_seats(){
            for(x=0;x<json_content["key"].length;x++){
                const date = this.$el.children[0].innerText
                if(date.includes(json_content["key"][x])){
                    this.date = date
                    const hour = this.$el.children[1].innerText
                    const json_hour = json_content["value"][x]["times"]
                    if(Object.keys(json_hour).includes(hour)){
                        this.hour = hour
                        const seats = json_content["value"][x]["times"][hour]
                        return seats
                    }
                    break
                }
            }
        },
        movie_time(date,hour){
            const movie_date = new Date(date)
            const movie_hour = String(hour)
            movie_date.setHours(movie_hour.substring(0,2))
            movie_date.setMinutes(movie_hour.substring(3,5))
            movie_date.setSeconds(movie_hour.substring(6,8))
            return movie_date
        },
        count_down(date,hour){
            const counter = setInterval(()=>{
                const movie_time_details = this.movie_time(date,hour)
                const today = new Date()
                const final_time = (movie_time_details - today)
                var hours = Math.floor(final_time*0.001/60/60)
                var minutes = Math.floor((final_time % (1000 * 60 * 60)) / (1000 * 60))
                var seconds = Math.floor((final_time % (1000 * 60)) / 1000)
                if(hours > 0 || minutes > 30){
                    if(seconds < 10){
                        seconds = "0"+String(seconds)
                    }
                    else if(minutes < 10){
                        minutes = "0"+String(minutes)
                    }
                    else if(hours < 10){
                        hours = "0"+String(hours)
                    }
                    this.$el.children[3].innerText = String(hours)+":"+String(minutes)+":"+String(seconds)
                }
                else{
                    this.$el.children[3].innerHTML = "<span style='color: red; font-weight: bold;'>Deadline reached</span>"
                    clearInterval(counter)
                }
        
            },1000)
        },
        assign_seats(){
            const seats = this.get_seats()
            const td_seat = this.$el.children[2]
            const seats_array = []
                seats.forEach(td => {
                    const seat_json = json_reader(td)
                    seats_array.push(seat_json["key"]+":"+seat_json["value"])
                });
            this.seats_number = seats.length
            td_seat.innerHTML = "<span onclick='display_seats(this.nextSibling)'>"+[[this.seats_number]]+"</span>"+"<span class='seats' value='"+seats_array+"'></span>"
            this.count_down(this.date, this.hour)
        }
    },
    mounted(){
        this.assign_seats()
    },
    })
}
</script>
{% endblock %}