.display_content{
    height: 60%;
}

.display_content .res{
    display: inline-flex;
    margin-top: 30px;
    background-color: rgba(255, 99, 71, 0.445);
    border-radius: 10px;
    margin-left: 30px;
}

.display_content .res li{
    padding: 3px 0px 3px 10px;
    list-style: none;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    font: bolder;
    font-weight: bold;
}


.display_content .res li img{
    max-width: 100px;
    max-height: 50px;
    margin-left: 20px;
    margin-right: 10px;
}


